<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet"
        href="/public/css/style.css">
    <title>The Tech Blog</title>
</head>

<body>
    <header>
        <nav
            class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span
                        class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse"
                    id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active"
                            aria-current="page"
                            href="#">Home</a>
                        <a class="nav-link"
                            href="#">Dashboard</a>

                        {{#if logged_in}}
                        <a class="nav-link"
                            id="logout">Logout</a>
                        {{else}}
                        <a class="nav-link"
                            id="login">Login</a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main class="mb-3">
        <div class="container">
            <div
                class="row row-cols-1 g-2 align-item-center justify-content-center">

                <!-- render sublayout -->
                {{{ body }}}

            </div>
        </div>
    </main>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}

</body>

</html>